node_modules
lerna-debug.log
docs-dist

packages/**/node_modules
packages/**/dist
packages/**/docs-dist
packages/**/es
packages/**/lib
packages/**/npm-debug.log*
packages/**/yarn-error.log
packages/**/yarn.lock


# misc
.DS_Store

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.vscode
/.idea

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.